* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.todo-app {
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.create-item {
  background-image: url(./images//bg-desktop-light.jpg);
  height: 40vh;
  background-color: whitesmoke;
}
#todo-form {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 60vw;
}
.flex {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  background-color: whitesmoke;
  color: rgb(66, 65, 65);
  border-radius: 4px;
  padding: 0.7rem;
  width: 60vw;
}
h1 {
  color: white;
  font-weight: bold;
  letter-spacing: 5px;
}

#todo-input,
#create-todo {
  border: none;
  background-color: whitesmoke;
  font-size: 12px;
  color: rgb(80, 68, 68);
  width: 20rem;
}

.todo-list {
  position: absolute;
  display: block;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  width: 60vw;
  margin-top: 2rem;
}
.list-item {
  display: flex;
  background-color: whitesmoke;
  padding: 1rem 0.9rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 18px;

  align-items: center;
}

.list-item p {
  width: 92%;
  color: black;
}

.list-item .check {
  width: 20px;
  height: 20px;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
  display: grid;
  place-content: center;
  margin-right: 1rem;
  cursor: pointer;
}
.list-item .close {
  background: transparent;
  border: none;
  outline: none;
  opacity: 0;
  transition: all 0.4s ease;
  cursor: pointer;
  color: black;
}

.list-item:hover .close {
  opacity: 1;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 0.6rem;
  font-size: 10px;
  border-radius: 5px;
  color: rgb(150, 139, 139);
  background-color: whitesmoke;
  
  padding: 0.7rem;
  
  width: 60vw;

  cursor: pointer;
}

.states > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
}

.states > ul > li:nth-child(1) {
  color: rgb(24, 24, 214);
}
